In [ ]:
!pip install -v scikit-learn==0.23.0.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle

In [3]:
model = pickle.load(open("/content/drive/MyDrive/ocean-modelB/Data/model.pkl", 'rb'))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator KMeans from version 0.23.0 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [4]:
dataclusters = pd.read_csv('/content/drive/MyDrive/ocean-modelB/Data/clusters.csv')

In [5]:
dataclusters.head(10)

   Clusters     O     C     E     A     N
0         0  67.0  46.0  28.0  62.0  26.0
1         1  79.0  73.0  71.0  81.0  71.0
2         2  65.0  47.0  57.0  65.0  60.0
3         3  78.0  53.0  69.0  77.0  32.0
4         4  75.0  63.0  29.0  44.0  62.0
5         5  71.0  73.0  36.0  78.0  46.0

In [9]:
test_results = [[32, 12, 45, 15,22]]

In [10]:
cluster = model.predict(test_results)
print(int(cluster))

2

In [11]:
scores = np.array(dataclusters.iloc[cluster,1:6], dtype = 'int')

In [12]:
scores[0]

array([65, 47, 57, 65, 60])